##### ‚ùáÔ∏è Pandas üêº Styling

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('stocks2.csv').sample(frac = 0.5)

In [3]:
# highlighting min, max and NaN values
df.style.highlight_min(color='green').highlight_max(color = 'magenta').highlight_null()

In [4]:
#Color the background in a gradient style.
df.style.background_gradient()

In [5]:
# Making table borders blue with text color as green.
df.style.set_properties(**{'border': '1.3px solid blue',
                          'color': 'green'})